@model List<CadeteriaWeb.Models.ViewModels.CadeteViewModel>


    <h1>Lista de Cadetes</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DIRECCION</th>
                <th>TELEFONO</th>
                <th>MODIFICAR</th>
                <th>ELIMINAR</th>
            </tr>
        </thead>

        <tbody>

        
            @foreach (var item in Model)
            { 
                <tr>
              
                    <th>@item.IdCadete</th>
                    <td>@item.Nombre</td>
                    <td>@item.Direccion</td>
                    <td>@item.Telefono</td>
                    
                    
                     <td><a asp-controller="Cadete" asp-action="ModificarCadete" asp-route-id="@item.IdCadete">MODIFICAR</a></td>
               
                     <td><a asp-controller="Cadete" asp-action="Eliminar" asp-route-id="@item.IdCadete">Borrar</a></td>

                </tr>
            }
        </tbody>
      
    </table>
    


    