@model List<CadeteriaWeb.Models.ViewModels.ClienteViewModel>


    <h1>Lista de Clientes</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>DIRECCION</th>
                <th>TELEFONO</th>
                <th>MODIFICAR</th>
                <th>ELIMINAR</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var item in Model)
            { 
                <tr>
              
                     <td>@item.IdCliente</td>
                     <td>@item.Nombre</td>
                     <td>@item.Direccion</td>
                     <td>@item.Telefono</td>
                   
                    
                     <td><a asp-controller="Cliente" asp-action="ModificarCliente" asp-route-id="@item.IdCliente">MODIFICAR</a></td>
               
                     <td><a asp-controller="Cliente" asp-action="Eliminar" asp-route-id="@item.IdCliente">Borrar</a></td>

                </tr>
            }
        </tbody>
      
    </table>
    


    